---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- HTML Meta Tags -->
    <meta
      name="description"
      content="Free Website for Notion to Anki Conversion. 2anki.net is a free website for converting Notion toggle lists to Anki flashcards. It's simple, fast and easy to use. Create better Anki flashcards today!"
    />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="2anki.net" />
    <meta
      itemprop="description"
      content="Free Website for Notion to Anki Conversion. 2anki.net is a free website for converting Notion toggle lists to Anki flashcards. It's simple, fast and easy to use. Create better Anki flashcards today!"
    />
    <meta itemprop="image" content="https://2anki.net/notion2anki.png" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://2anki.net" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="2anki.net" />
    <meta
      property="og:description"
      content="Free Website for Notion to Anki Conversion. 2anki.net is a free website for converting Notion toggle lists to Anki flashcards. It's simple, fast and easy to use. Create better Anki flashcards today!"
    />
    <meta property="og:image" content="https://2anki.net/notion2anki.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="2anki.net" />
    <meta
      name="twitter:description"
      content="Free Website for Notion to Anki Conversion. 2anki.net is a free website for converting Notion toggle lists to Anki flashcards. It's simple, fast and easy to use. Create better Anki flashcards today!"
    />
    <meta name="twitter:image" content="https://2anki.net/notion2anki.png" />

    <!-- Meta Tags Generated via https://heymeta.com -->
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #5397f5 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
